<?xml version="1.0" encoding="ISO-8859-1"?>


<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

<servlet>

<servlet-name>Pierwszy</servlet-name>
<servlet-class>PierwszySerwlet</servlet-class>

<init-param>
<param-name>Plik</param-name>
<param-value>test.kxml</param-value>
</init-param>

<init-param>
<param-name>Autor</param-name>
<param-value>AUTOR</param-value>
</init-param>



</servlet>
<servlet>

<servlet-name>SerwletKlient</servlet-name>
<servlet-class>SerwletKlient</servlet-class>

<init-param>
<param-name>Plik</param-name>
<param-value>test.kxml</param-value>
</init-param>

<init-param>
<param-name>Autor</param-name>
<param-value>AUTOR</param-value>
</init-param>



</servlet>

<servlet-mapping>
<servlet-name>Pierwszy</servlet-name>
<url-pattern>/Pierwszy</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SerwletKlient</servlet-name>
<url-pattern>/SerwletKlient</url-pattern>
</servlet-mapping>

</web-app>
