A, A:link, A:visited {
	COLOR: gray; TEXT-DECORATION: none; FONT-SIZE: 12px;
}
A:hover {
	COLOR: black; TEXT-DECORATION: underline; FONT-SIZE: 12px;
}

TD {
	background-color: whitesmoke; text-align: center; height: 18px;
}
