BODY {
	MARGIN-TOP: 25pt; WIDTH: 500pt; BACKGROUND-COLOR: #ffddff; TEXT-ALIGN: justify
}
PRE {
	BACKGROUND-COLOR: #bbbbbb
}
DIV.main {
	WIDTH: 500pt
}
TABLE {
	MARGIN: 10pt
}
H1 {
	FONT-FAMILY: arial, "Arial Black"; BACKGROUND-COLOR: #e0e0e0
}
H2 {
	FONT-FAMILY: arial
}
H3 {
	FONT-FAMILY: arial
}
H4 {
	FONT-FAMILY: arial
}
H5 {
	FONT-FAMILY: arial
}
H6 {
	FONT-FAMILY: arial
}
