<STYLE type=text/css>


OL {
	FONT-SIZE: x-small;  COLOR:  #cccccc;
}
LI {
	FONT-SIZE: x-small; COLOR:  #cccccc; 
}
A:link {
	FONT-SIZE: x-small;  COLOR:  #cccccc; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: x-small; COLOR:  #cccccc; TEXT-DECORATION: none
}
A:hover {
    FONT-SIZE: x-small;COLOR:  antiquewhite; TEXT-DECORATION: underline
}
</STYLE>